@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch
}

main {
    flex-grow: 5;
}

nav {
    background-color: #003366;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

.logo {
    left: 0;
    top: 0;
    padding: 0;
    margin: 3px;
    position: absolute;
    border: white thin ridge;
    border-radius: 5px;
}

.logo a {
    font-size: 2em;
    padding: 0;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #036;
    text-decoration: underline;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        float: none;
        width: 100%;
    }

    .logo {
        width: inherit;
        position: relative;
    }
    
    nav ul.show {
        display: flex;
    }

    
    footer nav ul {
        display: none;
    }
}

/* Responsive cover image */
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Footer styling */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

.burger-menu {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: white;
    padding: 14px 16px;
}

@media screen and (min-width: 600px) {
    .burger-menu {
        display: none;
    }
}

div.banner {
    position: relative;
    color: black;
    z-index: 1000;
}


section {
    padding: 10px;
}

section.banner {
    background-image: url("https://placehold.co/600x400");
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}
